@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoHack !</h1>
    <h3>What is it?</h3>
    <p>CoHack is a virtual mini hackathon in which MTTs work in small teams to find a solution to a provided scenario.</p>
    <h3>What are the purposes of CoHack?</h3>
    <p>Improving own knowledge through learning by doing</p>
    <p>Endorsing culture of collaboration and knowledge sharing (co-learning) and allyship</p>
    <p>Integration of FUNdamentals in the ARB team logic.</p>
</div>

<div class="text-center">
    <h3>CoHack Teams</h3>
    <dl>
        <dt><a class="navbar-brand" href="https://github.com/mttcohack-devops-teamXX/repo-cohack-devops-amer" target="_blank">Team XX</a></dt>
    </dl>
</div>
